<footer class="footer">
    <div class="container">
        <p class="text-muted pull-left">Published with <a href="https://www.leafpub.org/">Leafpub</a></p>
        <p class="text-muted pull-right">© {{date format="%Y"}} {{@settings.title}}. All rights reserved</p>
    </div>
</footer>

<script type="text/javascript" src="{{theme_url 'js/conono.###BUILDDATE###.js'}}"></script>

{{leafpub_foot}}
</body>
</html>
